/* reset the default styling */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

body,
body * {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 15px;
  }
}

/* make everything centred and on one screen */
.content-wrapper {
  width: 100%;
  height: 100vh;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* make the buttons sit next to each other */
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 20px 40px;
  margin: 20px;
  cursor: pointer; /* make the cursor a hand when hovering over the button */

  border: none;
  border-radius: 20px;

  transition: ease-in-out 0.1s;
}

.button.button-generic {
  background-color: lightskyblue;
}

.button.button-generic:hover {
  box-shadow: 0 0 10px 0 lightskyblue;
}

.button.button-yes {
  background-color: #4caf50;
}

.button.button-yes:hover {
  box-shadow: 0 0 10px #4caf50;
}

.button.button-no {
  background-color: #f44336;
}

.button.button-no:hover {
  box-shadow: 0 0 10px #f44336;
}
